.DS_Store
Thumbs.db
/_deps/
/CMakeFiles/
/build/
/build-debug/
/build-release/
/Testing/
*.dSYM
/.vscode/
/.VSCodeCounter/
/vcpkg/
/vcpkg_installed/
/build-win-cuda/
tests/test_files/

CTestTestfile.cmake
Makefile
cmake_install.cmake

