.DS_Store
Thumbs.db
/_deps/
/CMakeFiles/
/build/
/build-debug/
/build-release/
/build-mac-debug/

/Testing/
*.dSYM
/.vscode/
/.VSCodeCounter/

tests/test_files/

CTestTestfile.cmake
Makefile
cmake_install.cmake

