.DS_Store
Thumbs.db
/_deps/
/CMakeFiles/
/build/
/build-debug/
/build-release/
/Testing/
/tests/test_files/test_logs/
*.dSYM
/.vscode/
/.VSCodeCounter/

CTestTestfile.cmake
Makefile
cmake_install.cmake
